<launch>
<arg name="bagfile"/>
<arg name="topic"/>
<node pkg="rosbag" type="play" name="rosbag" required="true" args="--rate 0.5 $(arg bagfile)"/>
<param name="--rate" value="0.05"/>
<node name="extract" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
<remap from="image" to="$(arg topic)"/>
<param name="sec_per_frame" value="0.01"/>
</node>
</launch>
